@import "tailwindcss";
@tailwindcss components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 rounded font-semibold transition;
  }

  .btn-success {
    @apply bg-green-600 text-white hover:bg-green-700;
  }

  .btn-danger {
    @apply bg-red-600 text-white hover:bg-red-700;
  }
}
